<script type="text/javascript">

    $(document).ready(function () {

        $("body").addClass("teal");
        $("body").addClass("darken-4");

    });
</script>

<div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">

        <div id="container">

            <div class="row">
                <div class="input-field col s12 center">
                    <div id="testDrive" class="icon-suitcase2"></div>
                    <p class="center titulo-font">Eu, inspetor</p>
                </div>
            </div>

            <form role="form" ng-submit="vm.submit()">

                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input class="form-control"
                               ng-model="vm.login.email"
                               ng-minlength="5"
                               ng-maxlength="160"
                               type="text"
                               id="email"
                               name="email"
                               placeholder="Usuario"
                               autofocus
                               required />
                        <label for="email" />
                    </div>
                </div>

                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input placeholder="Password"
                               ng-model="vm.login.password"
                               ng-minlength="6"
                               ng-maxlength="20"
                               type="password"
                               class="form-control"
                               id="password"
                               name="password"
                               placeholder="Senha"
                               required />
                        <label for="password" />
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <button id="btnLogin" class="btn waves-effect waves-light col s12" type="submit">Entrar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>


